<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <fieldset>
      <legend>Log in</legend>
      <%= h(flash[:danger]) %>
      <%= bootstrap_form_for(:session, url: login_path, layout: :horizontal) do |f| %>

      <%= f.text_field :name %>
      <%= f.password_field :password %>
      <%= f.form_group do %>
      <%= f.submit "Log in" , class: 'btn btn-primary' %>
      <% end %>
      <% end %>

      <p>New user? <%= link_to "Sign up!", signup_path %></p>
    </fieldset>
  </div>
</div>
