<h1>
投票フォーム
</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(:users, url: puzzle_path, layout: :horizontal) do |f| %>

      <div>
        <%= image_tag '/assets/images/pikachu.jpg', :size => "100x100" %>
        ぴかち●う：<%= current_user.pikachu %>
        <div class="radio-inline">
          <%= f.radio_button :target,'pikachu' ,class: 'form-control',checked: true %>
        </div>
      </div>

      <div>
        <%= image_tag '/assets/images/coil.jpg', :size => "100x100" %>
        こい●：<%= current_user.coil %>
        <div class="radio-inline">
          <%= f.radio_button :target,'coil' ,class: 'form-control' %>
        </div>
      </div>
      <%= f.submit "Vote", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
