<div class="puzzle_index">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <fieldset>
      <legend>投票フォーム</legend>
      <%= h(flash[:success]) %>
      <form role="form" class="form-horizontal" action="/puzzle" accept-charset="UTF-8" method="post">
          <div class="form-group my-form-group">
            <div class="radio-inline target-label">
              <input type="radio" value="pikachu" checked="checked" name="target"/>
              ぴかち●う：<%= current_user.pikachu %>
            </div>
            <img src="/assets/images/pikachu.jpg" alt="Pikachu" class="target-image" />
          </div>

          <div class="form-group my-form-group">
            <div class="radio-inline target-label">
              <input type="radio" value="coil" name="target" />
              こい●：<%= current_user.coil %>
            </div>
            <img src="/assets/images/coil.jpg" alt="Pikachu" class="target-image"/>
          </div>
          <div class="form-group">
            <input type="submit" name="commit" value="Vote" class="btn btn-primary" />
          </div>
      </form>
    </fieldset>
    <ul>
      <li><%= link_to "ヒント", "https://en.wikipedia.org/wiki/POST_(HTTP)" %></li>
      <li><%= link_to "元ネタ", "http://dic.nicovideo.jp/v/sm4205927" %></li>
      <li><%= link_to "ログアウト", login_path, method: "delete" %></li>
    </ul>
  </div>
</div>
</div>
</div>
